.add-option{
  display: flex;
  flex-direction: column;
  padding: $s-size;
}

.add-option--input{
  border: none;
  border-bottom: 0.3rem solid darken($dark-blue, 10%);
  background-color: $dark-blue;
  color: $off-white;
  margin-bottom: $s-size;
  flex-grow: 1;
  padding: $s-size;
}

.add-option--error{
  color: white;
  font-weight: 500;
  margin: 0;
  padding: $s-size 0 0 $l-size;
}

@media (min-width: $desktop-breakpoint){
  .add-option{
  flex-direction: row;
  }
  .add-option--input{
    margin-right: $s-size;
    margin-bottom: 0;

  }
}