.header{
  background-color: $off-black;
  color: white;
  padding: $m-size 0;
  margin-bottom: $xl-size; 
};

.header__title{
  font-size: $l-size;
  margin: 0%

};

.header__subtitle{
  font-size: $m-size;
  color: $off-white;
  margin: 0%;
  font-weight: 500;
}